.title{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
}
.title h1{
    position: absolute;
    left: 0;
    top: 0;
}
.title nav ul li{
    float: right;
    margin: 1rem;
} 
.title ul{
    list-style: none;
    padding: 0;
    margin-right: 5rem;
}
.title li a{
    text-decoration: none;
    color: black;
}
.title li a:hover{
    color: red;
}