---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>I'm Sonneko.<img src="/fonts/icon.png" width="100" class="icon-image" /></h1>
			<p>
				Welcome to the <a href="https://sonneko.aoristos.net/">Sonneko's portfolio</a>.
				This homepage show you what Sonneko is all about.
			</p>
			<p>
				I'm a just high school student, loving and learning Information Tech. Please see my projects in <a href="https://github.com/sonneko">GitHub</a>.
				Introductions of them are in this homepage, so please check them too.
			</p>
			<p>Here are a few projects I'm in</p>
			<ul>
				<li><b>WebTCP</b>, new p2p protocol based on WebTCP DataChennel</li>
				<li><b>programming-book</b>, small and systematic documents for programming beginners (Japanese lang only)</li>
				<li>something of 3d FPS game (private repo)</li>
				<li>New multi-paradigm, secure, explicit, and fast programming language interpreter (private repo)</li>
				<li><b>life-game-studio</b>, social media enabling users to share pattern in Conway's Game of Life</li>
				<li><b>air-keyboard</b>, unvisible phisical keyboards by AI powered hands tracking</li>
			</ul>

			<h3>My stacks</h3>
			<p>
				Here are my IT knowledges.
			</p>
			<table>
				<thead>
					<tr>
						<th>Domain</th>
						<th>Skills</th>
						<th>Level</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Programming Language</td>
						<td>Rust, TypeScript, Python...</td>
						<td>Intermediate (maybe)</td>
					</tr>
					<tr>
						<td>Web Development</td>
						<td>React, Next.js, Svelte, Hono...</td>
						<td>Data Row 2, Cell 3</td>
					</tr>
					<tr>
						<td>Database</td>
						<td>None</td>
						<td>quite beginner</td>
					</tr>
					<tr>
						<td>Cloud and Server less</td>
						<td>Vercel, Cloudflare, Firebase...</td>
						<td>beginner++</td>
					</tr>
					<tr>
						<td>Low levels</td>
						<td>Kernel, memory management, C language</td>
						<td>beginner++</td>
					</tr>
					<tr>
						<td>Other</td>
						<td>language development, Network routing</td>
						<td>beginner++</td>
					</tr>
				</tbody>
			</table>
			<p>
				I'm interested in all subjects!
			</p>

			<h3>Contact</h3>
			<p>
				Please create a issue in <a href="https://github.com/sonneko/sonneko">This Repository</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.icon-image {
		margin-left: 15px;
	}
</style>